.banner__imagen{
    background: url('../../img/banner.png') no-repeat center / cover;
    width: 100%;
}

@media screen and (min-width:0){
    .banner__imagen{
        height: calc(100vh - 51px);
    }
}


@media screen and (min-width:768px){
    .banner__imagen{
        height: calc(100vh - 72px);
    }
}