.recetas{
    background: #dab997;
    display: flex;
    flex-wrap: wrap;
   
}

@media screen and (min-width: 0){
    .recetas{
        padding: 5rem 0 0 1rem;
    }
}

@media screen and (min-width: 768px){
    .recetas{
        padding: 5rem 0 0 2.5rem;
    }
}

@media screen and (min-width: 992px){
    .recetas{
        padding: 5rem 0 0 5rem;
    }
}