.cabecera{
    align-items: center;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.menu__lista{
    display: flex;
}

.menu__item{
    list-style: none;
}

.menu__link{
    color: #808080;
    margin-right: 1.25rem;
    text-decoration: none;
}

.menu__link:hover{
    text-decoration: underline;
}

.menu__link--activo{
    color: #808080;
    margin-right: 1.25rem;
    text-decoration: none;
    color: #333333;

}