.receta__boton{
    background:#DA2B1F;
    border: none;
    border-radius: 5px;
    color: #fdfdfd;
    padding: 1rem;
    transition: all .1s ease-in-out ;
}

.receta__boton:hover{
    cursor: pointer;
    background: #9f1010;
}
