.persona{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:0){
    .persona{
        margin-bottom: 2rem;
    }
}

@media screen and (min-width:768px){
    .persona{
        margin-bottom: 0;
    }
}