.sobre__descripcion{
    color: #8C8888;
    
    font-weight: 100;
}

@media screen and (min-width: 0){
    .sobre__descripcion{
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 0){
    .sobre__descripcion{
        font-size: 1.75rem;
    }
}   


